{% load static %}
<style>
  .zoomD {
    cursor: zoom-in;
  }

  #lb-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.4s;
    cursor: zoom-out;
  }

  #lb-back.show {
    visibility: visible;
    opacity: 1;
  }

  #lb-img {
    position: relative;
    top: 53%;
    left: 0%;
    transform: translateY(-50%);
    text-align: center;
  }

  @media screen and (min-width: 992px) {
    #lb-img {
      left: 7%;
    }
  }

  #lb-img img {
    max-width: 100%;
    max-height: 92vh;
    height: auto;
  }
</style>
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/parent_home" class="brand-link">
      <img src="{% static "dist/img/home-icon.png" %}" alt="logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Сургуулийн нэр</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 d-flex">
        <div class="image">
          <img src="{{ parent.profile_pic }}" class="img-circle elevation-2 zoomD" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'parent_profile' %}" class="d-block">{{ user.last_name }}</a>
        </div>
      </div>
      <div class="user-panel d-flex">
        <div class="info">
          <a class="d-block">{{ parent.student_id.admin.last_name }}-н эцэг эх</a>
        </div>
      </div>
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{ parent.student_id.profile_pic }}" class="img-circle elevation-2 zoomD" alt="User Image">
        </div>
        <div class="info">
          <a class="d-block">{{ parent.student_id.admin.last_name }}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Хайх" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            {% url 'parent_home' as parent_home %}
            <a href="{{ parent_home }}" class="nav-link {% if request.path == parent_home %} active {% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Нүүр
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'parent_news' as parent_news %}
            <a href="{{ parent_news }}" class="nav-link {% if request.path == parent_news %} active {% endif %}">
              <i class="nav-icon fas fa-newspaper"></i>
              <p>
                Зар, мэдээлэл
              </p>
            </a>
          </li>
           <li class="nav-item">
            {% url 'parent_feedback' as parent_feedback %}
            <a href="{{ parent_feedback }}" class="nav-link {% if request.path == parent_feedback %} active {% endif %}">
              <i class="nav-icon fas fa-comments"></i>
              <p>
                Санал хүсэлт
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'parent_view_attendance' as parent_view_attendance %}
            {% url 'parent_student_view_attendance_post' as parent_student_view_attendance_post %}
            <a href="{{ parent_view_attendance }}" class="nav-link {% if request.path == parent_view_attendance %} active {% endif %} {% if request.path == parent_student_view_attendance_post %} active {% endif %}">
              <i class="nav-icon fas fa-user-check"></i>
              <p>
                {{ parent.student_id.admin.last_name }}-н ирц
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'parent_student_view_result' as parent_student_view_result %}
            <a href="{{ parent_student_view_result }}" class="nav-link {% if request.path == parent_student_view_result %} active {% endif %}">
              <i class="nav-icon fas fa-graduation-cap"></i>
              <p>
                {{ parent.student_id.admin.last_name }}-н дүн
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'parent_all_notification' as parent_all_notification %}
            <a href="{{ parent_all_notification }}" class="nav-link {% if request.path == parent_all_notification %} active {% endif %}">
              <i class="nav-icon fas fa-bell"></i>
              <p>
                Мэдэгдлүүд
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'pcovid19' as pcovid19 %}
            <a href="{% url 'pcovid19' %}"
              class="nav-link {% if request.path == pcovid19 %} active {% endif %}">
              <i class="nav-icon fas fa-virus"></i>
              <p>
                COVID-19
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <script>
    var zoomImg = function () {
      var clone = this.cloneNode();
      clone.classList.remove("zoomD");
      var lb = document.getElementById("lb-img");
      lb.innerHTML = "";
      lb.appendChild(clone);

      lb = document.getElementById("lb-back");
      lb.classList.add("show");
    };

    window.addEventListener("load", function () {

      var images = document.getElementsByClassName("zoomD");
      if (images.length > 0) {
        for (var img of images) {
          img.addEventListener("click", zoomImg);
        }
      }

      document.getElementById("lb-back").addEventListener("click", function () {
        this.classList.remove("show");
      })
    });
  </script>