{% extends 'registration/base.html' %}
{% block content %}

<form class="login100-form validate-form" method="post">
  {% csrf_token %}
  <span class="login100-form-title p-b-55">Нууц үг сэргээх</span>
  {% for field in form %}
  <div class="wrap-input100 validate-input m-b-16" data-validate="И-Мэйлээ хийнэ үү?">

    <input type="text" class="input100" placeholder="И-Мэйл" name="{{ field.html_name }}"
      id="{{ field.id_for_label }}" />
    <span class="focus-input100"></span>
    <span class="symbol-input100">
      <span class="lnr lnr-user"></span>
    </span>
  </div>
  {% if field.errors %}
  <div class="alert alert_error mt-4" style="width: 100%;">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <strong>{{ field.errors }}</strong>
  </div>
  {% endif %}
  {% endfor %}


  <div class="container-login100-form-btn p-t-25">
    <button type="submit" class="login100-form-btn">Сэргээх</button>
  </div>
    <span class="txt1 mt-5">
      <a href="{% url 'show_login' %}"><i class="fas fa-chevron-left"></i> Буцах</a>
    </span>
</form>
{% endblock content %}