{% extends 'hod_template/base_template.html' %}
{% block page_title %}
<i class="nav-icon fas fa-user-graduate"></i> Сурагч засах | Хэрэглэгчийн нэр : {{ username }} | #ID : {{ id }} 
<a href="/manage_student" class="btn btn-success">Буцах</a>
{% endblock page_title %}
{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Сурагч засах</h3>
          </div>
          {% url 'edit_student_save' as action_path %}
          {% include 'hod_template/form_template.html' with messages=messages form=form action_path=action_path button_text="Засах" %}
        </div>
      </div>
    </div>
</section>
{% endblock main_content %}