{% extends 'hod_template/base_template.html' %}
{% block page_title %}
{% block custom_css %}
{% endblock custom_css %}
<i class="nav-icon fas fa-calendar-alt"></i> Хичээлийн жил нэмэх <a href="/manage_session" class="btn btn-success shadow-custom">Хичээлийн жилийн жагсаалт</a>
{% endblock page_title %}
{% block main_content %}

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Хичээлийн жил нэмэх</h3>
          </div>
          <form role="form" action="/add_session_save" method="post">
            {% csrf_token %}
            <div class="card-body">
              <div class="form-group">
                <label>Эхлэх огноо </label>
                <input type="date" class="form-control" name="session_start" placeholder="Enter Session Start Year" required>
              </div>
              <div class="form-group">
                <label>Дуусах огноо </label>
                <input type="date" class="form-control" name="session_end" placeholder="Enter Session End Year" required>
              </div>
              <div class="form-group">
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger shadow-custom" style="margin-top:10px">{{ message }}</div>
                {% endif %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success shadow-custom" style="margin-top:10px">{{ message }}</div>
                {% endif %}
                {% endfor %}
                {% endif %}
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary btn-block shadow-custom">Нэмэх</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main_content %}