{% extends 'hod_template/base_template.html' %}
{% load static %}
{% block page_title %}
<i class="nav-icon fas fa-users"></i> Эцэг эх-руу мэдэгдэл илгээх
{% endblock page_title %}
{% block custom_css %}
<link rel="stylesheet" href="{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
<link rel="stylesheet" href="{% static "plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
<link rel="stylesheet" href="{% static "plugins/datatables-buttons/css/buttons.bootstrap4.min.css" %}">
{% endblock custom_css %}
{% block main_content %}

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Эцэг эх-руу мэдэгдэл илгээх</h3>
          </div>
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Овог</th>
                  <th>Нэр</th>
                  <th>Хэрэглэгчийн нэр</th>
                  <th>Имэйл</th>
                  <th>Үйлдэл</th>
                </tr>
              </thead>
              <tbody>
                {% for a in parent %}
                <tr>
                  <td>{{ a.admin.id }}</td>
                  <td>{{ a.admin.first_name }}</td>
                  <td>{{ a.admin.last_name }}</td>
                  <td>{{ a.admin.username }}</td>
                  <td>{{ a.admin.email }}</td>
                  <td style="width: 150px;"><a href="#" class="btn btn-success show_notification" data-toggle="modal"
                      data-target="#myModal">Мэдэгдэл илгээх</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span id="name_span"></span>-д мэдэгдэл илгээх</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" name="message" class="form-control" id="message_not">
          <input type="hidden" name="student_id" class="form-control" id="student_id">
        </div>
        <div class="form-group">
          <button class="btn btn-info btn-block send_notification_btn" type="button">Мэдэгдэл илгээх</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Болих</button>
      </div>
    </div>
  </div>
</div>
<!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script>
  $(".show_notification").click(function () {
    var student_id = $(this).parents("tr").children("td:eq(0)").text();
    var student_name = $(this).parents("tr").children("td:eq(3)").text();
    console.log(student_id);
    $("#student_id").val(student_id);
    $("#name_span").text(student_name);

  });

  $(".send_notification_btn").click(function () {
    var id = $("#student_id").val();
    var message = $("#message_not").val();
    sendNotification(id, message);
  });

  function sendNotification(id, message) {
    $.ajax({
      url: '{% url 'send_parent_notification' %}',
      type: 'POST',
      data: { id: id, message: message },
    })
      .done(function (response) {
        if (response == "True") {
          alert("Мэдэгдэл илгээлээ");
        }
        else {
          alert("Алдаа гарлаа");
        }
      });
  }
</script>
<!-- DataTables  & Plugins -->
<script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
<script src="{% static "plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
<script src="{% static "plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
<script src="{% static "plugins/datatables-buttons/js/dataTables.buttons.min.js" %}"></script>
<script src="{% static "plugins/datatables-buttons/js/buttons.bootstrap4.min.js" %}"></script>
<script src="{% static "plugins/jszip/jszip.min.js" %}"></script>
<script src="{% static "plugins/pdfmake/pdfmake.min.js" %}"></script>
<script src="{% static "plugins/pdfmake/vfs_fonts.js" %}"></script>
<script src="{% static "plugins/datatables-buttons/js/buttons.html5.min.js" %}"></script>
<script src="{% static "plugins/datatables-buttons/js/buttons.print.min.js" %}"></script>
<script src="{% static "plugins/datatables-buttons/js/buttons.colVis.min.js" %}"></script>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock custom_js %}